<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
</head>
<body>
<h1>Students</h1>
<div th:each="student : ${students}">
    <div class="row">
        <div class="col">
            <h5 th:text="${student.username}"></h5>
        </div>
        <div class="col">
            <form th:action="@{'/admin/delete/' + ${student.username}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<h1>Teachers</h1>
<div th:each="teacher : ${teachers}">
    <div class="row">
        <div class="col">
            <h5 th:text="${teacher.username}"></h5>
        </div>
        <div class="col">
            <form th:action="@{'/admin/delete/' + ${teacher.username}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<h1>Teachers waiting for approval</h1>
<div th:each="user : ${waiting}">
    <div class="row">
        <div class="col">
            <h5 th:text="${user.username}"></h5>
        </div>
        <div class="col">
            <form th:action="@{'/admin/delete/' + ${user.username}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
        <div class="col">
            <form th:action="@{'/admin/approve/' + ${user.username}}" method="post">
                <button type="submit">Approve</button>
            </form>
        </div>
        <div class="col">
            <form th:action="@{'/admin/reject/' + ${user.username}}" method="post">
                <button type="submit">Reject</button>
            </form>
        </div>
    </div>
</div>
<h1>Admins</h1>
<div th:each="admin : ${admins}">
    <div class="row">
        <div class="col">
            <h5 th:text="${admin.username}"></h5>
        </div>
        <div class="col">
            <form th:action="@{'/admin/delete/' + ${admin.username}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<h1>Courses</h1>
<div th:each="course : ${courses}">
    <div class="row">
        <div class="col">
            <h5 th:text="${course.title}"></h5>
        </div>
        <div class="col">
            <form th:action="@{'/admin/delete/course/' + ${course.id}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<h1>Create admin</h1>
<form th:action="@{'/admin/create'}"
      th:object="${newAdmin}" method="post" enctype="multipart/form-data">
    <input required  type="text" th:field="*{username}"
           placeholder="Username"/>
    <input required   type="password" th:field="*{password}" placeholder="Password"/>
    <button  type="submit"  value="Submit">Create admin</button>
</form>
</body>
</html>