<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>

    <!-- Home -->

    <div class="home" style="height: 380px">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(/images/courses_background.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Course</h1>
        </div>
    </div>
    <!--  Course  -->

    <div class="row">
        <div class="col-lg-4">
            <div class="course_author_image" style="width: 300px; height: 300px; margin-left: 75px">
                <img style="width: 400px; height: auto"
                     th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.picture}}" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="col-lg-6 ">

                <!--                <div class="search_section d-flex flex-column align-items-center justify-content-center">-->
                <!--                                <div class="search_background"></div>-->
                <div class="search_content text-center">
                    <h1 class="search_title">Edit your course</h1>
                    <form id="search_form" class="search_form" th:action="@{'/courses/' + ${course.id} + '/edit'}"
                          th:object="${course}" method="post" enctype="multipart/form-data">
                        <p>
                            <i th:if="${error != null}" th:text="${error}" style="color: red"/>
                        </p>
                        <h3>Title</h3>
                        <h2 style="color: black" th:text="${course.title}"></h2>
                        <br>
                        <br>
                        <h3>Description</h3>
                        <input style="border: 2px solid #ffb606" required class="input_field search_form_name"
                               type="text" th:field="*{description}" id="description"
                               placeholder="Description"/>
                        <button id="search_submit_button" type="submit" class="search_submit_button trans_200"
                                value="Submit">Save</button>
                    </form>
                </div>
                <!--                </div>-->
            </div>
            <div class="col-lg-6 nopadding">
            </div>
        </div>
    </div>

    <!-- lectures   -->

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row course_boxes">
                <div th:each="lecture : ${lectures}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             src="/images/course_1.jpg"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:text="${lecture.title}"></a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${lecture.description}">Description</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>


</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>