<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments ::head">
    <title>Error</title>
</head>
<body>
<div class="home" style="width: 100%">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(/images/slider_background.jpg)"></div>
    </div>
    <div class="home_content">
    <h1 th:text="${status}">Status</h1>
</div>
</div>
<div class="home_content">
    <h1 th:text="${message}" >Massage</h1>
</div>

<!--<h1>My Thymeleaf Error Page</h1>-->
<!--<table>-->
<!--    <tr>-->
<!--        <td>Date</td>-->
<!--        <td th:text="${timestamp}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Path</td>-->
<!--        <td th:text="${path}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Error</td>-->
<!--        <td th:text="${error}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Status</td>-->
<!--        <td th:text="${status}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Message</td>-->
<!--        <td th:text="${message}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Exception</td>-->
<!--        <td th:text="${exception}"/>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Trace</td>-->
<!--        <td>-->
<!--            <pre th:text="${trace}"/>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>