<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Head-->

<head th:fragment="head">
    <title>Course - Courses</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/contact_responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/courses_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/courses_responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/news_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/news_responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/news_post_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/news_post_responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/teachers_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/teachers_responsive.css">
</head>

<body>

<!--Navigation-->

<header th:fragment="navigation" class="header d-flex flex-row">
    <div class="header_content d-flex flex-row align-items-center">
        <!-- Logo -->
        <div class="col-xl-1">
           <!-- <img src="/images/logo.png" style="height: 75px" alt=""> -->
        </div>
        <div class="col-lg-1">
            <div class="logo">
                <span>agro@cademy</span>
            </div>
        </div>

        <!-- Main Navigation -->
        <nav class="main_nav_container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_nav">
                        <ul class="main_nav_list">
                            <li class="main_nav_item"><a href="/">home</a></li>
                            <li class="main_nav_item"><a href="/info">about us</a></li>
                            <li class="main_nav_item"><a href="/courses">courses</a></li>
                            <li class="main_nav_item"><a href="/topics">topics</a></li>
                            <li class="main_nav_item"><a href="/teachers">teachers</a></li>
                            <li class="main_nav_item"><a href="/contact">contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <!-- Search -->
            <div class="row">
                <div class="col-lg-12 ">
                    <form th:method="get" th:action="@{'/courses/search'}" >
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-top"
                             style="border: 2px solid #ffb606;">
                            <input id="new" class="newsletter_email" type="text" name="field"
                                   placeholder="Search" required="required">
                            <button id="news" type="submit" class="newsletter_submit_btn trans_300"
                                    value="Submit">Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="header_side d-flex flex-row justify-content-center align-items-center">
        <div class="buttons_container" sec:authorize="isAnonymous()">
            <div class="button button_color_2 text-center trans_200">
                <a style="color: white" href="/login" th:text="Login">Login</a>
            </div>
            <div class="button button_color_2 text-center trans_200">
                <a style="color:white" href="/register" target="_blank"
                   th:text="Register">Register</a>
            </div>
        </div>
        <div class="buttons_container">
            <div class="row">
                <div class="col justify-content-center align-items-center" sec:authorize="hasRole('ROLE_USER')">
                    <div style="margin-top: 5px; height: 80px; width: 80px" class="course_author_image">
                        <img style="height: 90px ; width: auto" th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${#authentication.name}}"
                             alt="  O ">
                    </div>
                </div>
                <div class="col" style="margin-left: 0px" >
                    <div class="button button_color_2 text-center trans_200" sec:authorize="hasRole('ROLE_USER')">
                        <a style="color: white" th:href="@{|~/users/${#authentication.name}|}">
                            <span sec:authentication="name"></span>
                        </a>
                    </div>
                    <form sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')" th:action="@{/logout}"
                          method="post">
                        <button class="search_submit_button trans_200"
                                style="margin-top: 0px" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Hamburger -->
    <div class="hamburger_container">
        <i class="fas fa-bars trans_200"></i>
    </div>
</header>

<!--Footer-->

<footer th:fragment="footer" class="footer">
    <div class="container">

        <!-- Footer Content -->

        <div class="footer_content">
            <div class="row">

                <!-- Footer Column - About -->
                <div class="col-lg-5 footer_col">

                    <!-- Logo -->
                    <div class="logo_container">
                        <div class="logo">
                            <img src="/images/logo.png" style="height: 55px" alt="">
                            <span>agro@cademy</span>
                        </div>
                    </div>

                    <p class="footer_about_text">Agro@cademy provides universal access to the world’s best education,
                        partnering with top agricultural universities and organizations to offer courses online.</p>

                </div>

                <!-- Footer Column - Menu -->


                <div class="col-lg-3 footer_col">
                    <div class="footer_column_title">Menu</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_list_item"><a href="/">Home</a></li>
                            <li class="footer_list_item"><a href="/info">About Us</a></li>
                            <li class="footer_list_item"><a href="/courses">Courses</a></li>
                            <li class="footer_list_item"><a href="/topics">Topics</a></li>
                            <li class="footer_list_item"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

<!--                <div class="col-lg-3 footer_col">-->
<!--                </div>-->
                <!-- Footer Column - Contact -->

                <div class="col-lg-4 footer_col">
                    <div class="footer_column_title">Contact</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_contact_item">
                                <div class="footer_contact_icon">
                                    <img src="/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                31 Alexander Malinov Blvd.
                            </li>
                            <li class="footer_contact_item">
                                <div class="footer_contact_icon">
                                    <img src="/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                +359 123 456 789
                            </li>
                            <li class="footer_contact_item">
                                <div class="footer_contact_icon">
                                    <img src="/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                agroacademy.company@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Copyright -->

        <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
            <div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                                class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                  target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
            </div>
<!--            <div class="footer_social ml-sm-auto">-->
<!--                <ul class="menu_social">-->
<!--                    <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>-->
<!--                    <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>-->
<!--                    <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>-->
<!--                    <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                    <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>

    </div>
</footer>


<th:block th:fragment="assets">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/styles/bootstrap4/popper.js"></script>
    <script src="/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/courses_custom.js"></script>
    <script src="/js/teachers_custom.js"></script>
    <script src="/js/contact_custom.js"></script>
    <script src="/js/news_custom.js"></script>
    <script src="/js/news_post_custom.js"></script>
    <script src="/js/elements_custom.js"></script>
</th:block>
</body>
</html>