<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>

    <!-- Home -->

    <div class="home" style="height: 380px">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(/images/courses_background.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>lecture</h1>
        </div>
    </div>
    <!--  Lecture  -->

    <div class="container" style="width: 100%">
        <div class="shadow p-1 mb-5 bg-white rounded">
            <div class="row" style=" width: 100% ;height: auto">
                <div class="col-lg-8">
                    <video width="100%" height="auto" controls
                           style=" margin-left: auto; margin-right: auto; display: block;">
                        <source th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${lecture.video}}" src="" type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar_section">
                        <div class="row">
                            <h2 style="color: black">Description</h2>
                        </div>
                        <hr>
                        <div class="row">
                            <div th:text="${lecture.description}">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <form th:method="get" th:action="@{'/courses/' + ${lecture.course.id} + '/lectures/'}">
                                <button
                                        class="newsletter_submit_btn trans_300" type="submit" id="course"
                                        value="">Go back to the course
                                </button>
                            </form>
                            <div class="col" th:if="${finished == true}">
                                <form th:method="get"
                                      th:action="@{'/courses/' + ${lecture.course.id} +'/lectures/' + ${lecture.id} + '/' + ${lecture.assignment}}">

                                    <button
                                            class="newsletter_submit_btn trans_300" type="submit" id="download"
                                            value="Enroll">Download assignment
                                    </button>
                                </form>
                            </div>
                            <div class="col" th:if="${finished == true}">
                                <form th:object="${homework}" enctype="multipart/form-data"
                                      th:method="post"
                                      th:action="@{'/courses/' + ${lecture.course.id} +'/lectures/' + ${lecture.id} + '/add-homework'}">
                                    <input required class="search_submit_button trans_200" id="homeworkFile"
                                           name="homework" value="Upload"
                                           th:field="*{homeworkFile}" type="file"
                                           accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .java, .pptx,.txt,.pdf"/>
                                    <input
                                            class="newsletter_submit_btn trans_300" type="submit" id="Upload homework"
                                            value="Upload homework"/>

                                </form>
                            </div>
                            <div class="col" th:if="${continue == true}">
                                <form th:method="post"
                                      th:action="@{'/courses/' + ${lecture.course.id} +'/lectures/' + ${lecture.id} + '/finish'}">
                                    <button
                                            class="newsletter_submit_btn trans_300" type="submit" id="continue"
                                            value="Enroll">Continue to assignment
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>


</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>