<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>

    <!-- Home -->

    <div class="home" style="height: 380px">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(/images/courses_background.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Course</h1>
        </div>
    </div>
    <!--  Course  -->

    <div class="row">
        <div class="col-lg-4">
            <div class="course_author_image" style="width: 300px; height: 300px; margin-left: 75px">
                <img style="width: 400px; height: auto"
                     th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.picture}}"
                     alt="  O ">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="sidebar_section">
                <div class="row">
                    <div class="col-3">
                        <ul class="sidebar_list">
                            <li class="sidebar_list_item"><a th:text="Title"></a></li>
                            <li class="sidebar_list_item"><a th:text="Description"></a>
                            </li>
                            <li class="sidebar_list_item"><a th:text="Rating"></a></li>
                            <li class="sidebar_list_item"><a th:text="Creator"></a></li>
                            <li th:if="${enrolled == true}" class="sidebar_list_item"><a th:text="'Average grade'"></a></li>
                        </ul>
                    </div>
                    <div class="col-5">
                        <ul class="sidebar_list" style="color: black">
                            <li class="sidebar_list_item"><a th:text="${course.title}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${course.description}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${course.rating}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${course.creator}"></a></li>
                            <li th:if="${enrolled == true}" class="sidebar_list_item"><a th:text="${course.grade} + ' / 100 pts'"></a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <br>
                        <div th:if="${enrolled == true}" class="col milestone_col">
                            <div class="milestone text-center">
                                <div class="milestone_icon"><img src="/images/milestone_3.svg"
                                                                 alt="https://www.flaticon.com/authors/zlatko-najdenovski">
                                </div>
                                <div class="milestone_counter" th:data-end-value="${progress} + '%'">0</div>
                                <br>
                                <div style="color: #ffb606" class="milestone_text">Course progress</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${guest != true}">
                    <div th:if="${notEnrolled == true}" class="col">
                        <form th:method="post"
                              th:action="@{'/courses/' + ${course.id} + '/enroll/' + ${#authentication.name}}">
                            <button class="newsletter_submit_btn trans_300" type="submit" id="enroll"
                                    value="Enroll">
                                Enroll
                            </button>
                        </form>
                    </div>
                    <div class="col" th:if="${teacher == true}">
                        <form th:method="get" th:action="@{'/courses/' + ${course.id} + '/edit'}">
                            <button class="newsletter_submit_btn trans_300" type="submit" id="edit" value="Submit">
                                Edit
                                course
                            </button>
                        </form>
                    </div>
                    <div class="col" th:if="${notRated == true}">
                        <form th:object="${rating}" th:method="post"
                              th:action="@{'/courses/' + ${course.id} + '/rate'}">
                            <div class="row" style="width: 50%">
                                <div class="col-4">
                                    <input style="border: 2px #ffb606 solid"
                                           class="input_field search_form_category" type="number"
                                           th:field="*{rating}" min="1" max="10">
                                </div>
                                <div class="col-8">
                                    <button id="rate" type="submit" class="newsletter_submit_btn trans_300"
                                            value="Submit">Rate course
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- lectures   -->

    <div th:unless="${enrolled == true}" class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row course_boxes">
                <div th:each="lecture : ${lectures}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             src="/images/course_1.jpg"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:if="${teacher == true}"
                                   th:href="@{'/courses/' + ${course.id} + '/lectures/' + ${lecture.id}}"
                                   th:text="${lecture.title}"></a>
                                <a th:if="${enrolled == true}"
                                   th:href="@{'/courses/' + ${course.id} + '/lectures/' + ${lecture.id}}"
                                   th:text="${lecture.title}"></a>
                                <a th:if="${guest == true}" th:text="${lecture.title}"></a>
                                <a th:if="${notEnrolled == true}" th:text="${lecture.title}"></a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${lecture.description}">Description</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div th:if="${enrolled == true}" class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 style="text-align: center">Lectures</h1>
            <div class="row course_boxes">

                <!--  Finished        -->

                <div th:each="lecture : ${finished}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             src="/images/course_1.jpg"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:href="@{'/courses/' + ${course.id} + '/lectures/' + ${lecture.id}}"
                                   th:text="${lecture.title}"></a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${lecture.description}">Description</h3>
                            </div>

                            <!--     Progress      -->

                            <ul class="progress_bar_container col_12 clearfix">
                                <li class="pb_item">
                                    <h4>Progress</h4>
                                    <div id="skill_pbar" class="skill_bars" data-perc="0.85">
                                        <svg viewBox="0 0 100 0.5" preserveAspectRatio="none"
                                             style="display: block; width: 100%; height: 100%;">
                                            <path d="M 0,0.25 L 100,0.25" stroke="#ffb606" stroke-width="1"
                                                  fill-opacity="0"></path>
                                            <path d="M 0,0.25 L 100,0.25" stroke="#ffffff" stroke-width="0.5"
                                                  fill-opacity="0"
                                                  style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 100px"></path>
                                        </svg>
                                    </div>
                                </li>
                            </ul>

                            <ul class="progress_bar_container col_12 clearfix">
                                <li class="pb_item">
                                    <br>
                                    <h4>Grade</h4>
                                    <h4 style="color: black" th:text="${lecture.grade} + ' pts'"></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--  Current     -->

                <div th:unless="${noCurrent == true}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             src="/images/course_1.jpg"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:href="@{'/courses/' + ${course.id} + '/lectures/' + ${current.id}}"
                                   th:text="${current.title}"></a>
                            </div>
                            <div class="card-text">
                                <h3 style="" th:text="${current.description}">Description</h3>
                            </div>

                            <!--     Progress      -->

                            <ul class="progress_bar_container col_12 clearfix">
                                <li class="pb_item">
                                    <h4>Progress</h4>
                                    <div id="pbar" class="skill_bars" data-perc="0.85">
                                        <svg viewBox="0 0 100 0.5" preserveAspectRatio="none"
                                             style="display: block; width: 100%; height: 100%;">
                                            <path d="M 0,0.25 L 100,0.25" stroke="#ffffff" stroke-width="1"
                                                  fill-opacity="0"></path>
                                            <path d="M 0,0.25 L 100,0.25" stroke="#ffb606" stroke-width="0.5"
                                                  fill-opacity="0"
                                                  style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 50px"></path>
                                        </svg>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <!--  Unfinished     -->

                <div th:each="lecture : ${unfinished}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             src="/images/course_1.jpg"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:text="${lecture.title}"></a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${lecture.description}">Description</h3>
                            </div>

                            <!--     Progress      -->

                            <ul class="progress_bar_container col_12 clearfix">
                                <li class="pb_item">
                                    <h4>Progress</h4>
                                    <div id="skill_1_pbar" class="skill_bars" data-perc="0.85">
                                        <svg viewBox="0 0 100 0.5" preserveAspectRatio="none"
                                             style="display: block; width: 100%; height: 100%;">
                                            <path d="M 0,0.25 L 100,0.25" stroke="#ffffff" stroke-width="1"
                                                  fill-opacity="0"></path>
                                            <path d="M 0,0.25 L 100,0.25" stroke="#ffb606" stroke-width="0.5"
                                                  fill-opacity="0"
                                                  style="stroke-dasharray: 100px, 100px; stroke-dashoffset: 100px"></path>
                                        </svg>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>


    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>


</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>