<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>
    <!-- Home -->
    <div class="row" style="height: 200px; z-index: -1">
        <img style="width: 1600px" src="/images/slider_background.jpg" alt="photo">
    </div>
    <!-- Elements -->
    <div class="register">

        <div class="container-fluid">

            <div class="row row-eq-height">
                <div class="col-lg-3 nopadding">
                </div>

                <div class="col-lg-6 nopadding">

                    <div class="search_section d-flex flex-column align-items-center justify-content-center">
                        <div class="search_background"
                             style="background-image:url(/images/search_background.jpg);"></div>
                        <div class="search_content text-center">
                            <h1 class="search_title">Create new course</h1>
                            <form id="search_form" class="search_form" th:action="@{'/courses/new-course'}"
                                  th:object="${course}" method="post" enctype="multipart/form-data">
                                <p>
                                    <i th:if="${error != null}" th:text="${error}" style="color: red"/>
                                </p>
                                <input required class="input_field search_form_name"
                                       type="text" th:field="*{title}" id="title"
                                       placeholder="Enter title"/>
                                <input required class="input_field search_form_name"
                                       type="text" th:field="*{topic}" id="topic" placeholder="Topic"/>
                                <input required class="input_field search_form_name"
                                       type="text" th:field="*{description}" id="description"
                                       placeholder="Description"/>
                                <label style="color: black" for="file">Upload image</label>
                                <input class="search_submit_button trans_200" id="file" name="file"
                                       th:field="*{file}" type="file" accept="image/*" value="Upload image"/>

                                <button id="search_submit_button" type="submit" class="search_submit_button trans_200"
                                        value="Submit">create course
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 nopadding">
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>

</div>
<div></div>
<div th:replace="fragments :: assets"></div>

</body>
</html>