<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>

    <!-- Home   -->

    <div class="row" style="height: 200px">
    </div>

    <!-- Profile   -->


        <div class="row">
            <div class="col-lg-5">
                <div class="course_author_image" style="width: 300px; height: 300px; margin-top: 80px; margin-left: 35%">
                    <img style="width: 300px; height: auto"
                         th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${user.username}}" alt="  O ">
                </div>
            </div>
            <div class="col-lg-7">


                <div class="search_background"></div>
                <div class="search_content text-left">
                    <h1 class="search_title">Edit your profile</h1>
                    <form th:if="${edit == true}"  class="search_form" th:action="@{'/users/' + ${user.username} + '/edit'}"
                          th:object="${user}" method="post" enctype="multipart/form-data">
                        <p>
                            <i th:if="${error != null}" th:text="${error}" style="color: red"/>
                        </p>
                        <label for="firstName">First name</label>
                        <input required class="input_field search_form_name"
                               type="text" th:field="*{firstName}" id="firstName"
                               placeholder="Enter first name"/>
                        <label for="lastName">Last name</label>
                        <input required class="input_field search_form_name"
                               type="text" th:field="*{lastName}" id="lastName" placeholder="Enter last name"/>
                        <label for="email">Email</label>
                        <input required class="input_field search_form_name"
                               type="email" th:field="*{email}" id="email"
                               placeholder="Description"/>
                        <label for="file">Upload image</label>
                        <input class="search_submit_button trans_200" id="file" name="file"
                               th:field="*{file}" type="file" accept="image/*" value="Upload image"/>

                        <button id="search_submit_button" type="submit" class="search_submit_button trans_200"
                                value="Submit">save
                        </button>
                    </form>
                    <form th:if="${pass == true}" id="search_form" class="search_form" th:action="@{'/users/' + ${user.username} + '/change-pass'}"
                          th:object="${user}" method="post" enctype="multipart/form-data">
                        <p>
                            <i th:if="${error != null}" th:text="${error}" style="color: red"/>
                        </p>
                        <label for="oldPass">Old password</label>
                        <input required class="input_field search_form_name"
                               type="password" th:field="*{oldPassword}" id="oldPass"
                               placeholder="Enter your new password"/>
                        <label for="password">New password</label>
                        <input name="password" required class="input_field search_form_name"
                               type="password" th:field="*{password}" id="password"
                               placeholder="Enter your new password"/>
                        <label for="password-confirm">Confirm password</label>
                        <input name="password-confirm" required class="input_field search_form_name"
                               type="password" th:field="*{repeat}"  oninput="check(this)" id="password-confirm" placeholder="Reenter your new password"/>
                        <script language='javascript' type='text/javascript'>
                            function check(input) {
                                if (input.value !== document.getElementById('password').value) {
                                    input.setCustomValidity('Password Must be Matching.');
                                } else {
                                    // input is valid -- reset the error message
                                    input.setCustomValidity('');
                                }
                            }
                        </script>
                        <button type="submit" class="search_submit_button trans_200"
                                value="Submit">save
                        </button>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>


    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>

</div>
<div th:replace="fragments :: assets"></div>


</body>
</html>