<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>

    <!-- Home   -->

    <div class="row" style="height: 200px">
    </div>

    <!-- Profile   -->

    <div class="row">
        <div class="col-lg-4">
            <div class="course_author_image" style="width: 300px; height: 300px; margin-left: 75px">
                <img style="width: 300px; height: auto"
                     th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${user.username}}" alt=" O">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="sidebar_section">
                <div class="sidebar_section_title">
                    <h1 style="color: darkblue">Profile</h1>
                </div>
                <div class="row">
                    <div class="col-3">
                        <ul class="sidebar_list">
                            <li class="sidebar_list_item"><a th:text="Username"></a></li>
                            <li class="sidebar_list_item"><a th:text="Fullname"></a>
                            </li>
                            <li class="sidebar_list_item"><a th:text="Email"></a></li>
                            <li class="sidebar_list_item"><a th:text="Role"></a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="sidebar_list" style="color: black">
                            <li class="sidebar_list_item"><a th:text="${user.username}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${user.firstName} + ' ' + ${user.lastName}"></a>
                            </li>
                            <li class="sidebar_list_item"><a th:text="${user.email}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${user.role}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="button button_color_1 text-center trans_200"><a
                    th:href="@{'/users/' + ${user.username} + '/edit'}">Edit info</a></div>
            <div class="button button_color_2 text-center trans_200"><a
                    th:href="@{'/users/' + ${user.username} + '/change-pass'}">Change pass</a></div>
            <div sec:authorize="hasRole('ROLE_TEACHER')" class="button button_color_1 text-center trans_200"><a
                    href="/courses/new-course">Create course</a></div>

        </div>

    </div>


    <!-- Homeworks   -->

    <div sec:authorize="hasRole('ROLE_TEACHER')" class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Homework for evaluation</h1>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${coursesHomework.size() != 0}" th:each="course : ${coursesHomework}">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <div class="section_title text-center">
                        <h2><a style="color: black;" th:href="@{'/courses/' + ${course.id}}"
                               th:text="${course.title}"></a></h2>
                        <h3>Course</h3>
                    </div>
                    <div class="container" th:each="homework : ${course.homework}">
                        <div class="row">
                            <div class="col-4">
                                <div class="section_title text-center">
                                    <h4 style="margin-top: 12px"><a style="color: black"
                                                                    th:href="@{'/courses/' + ${course.id} + '/lecures/' + ${homework.lectureId}}"
                                                                    th:text="${homework.lectureTitle}"></a></h4>
                                </div>
                            </div>
                            <div class="col-2">
                                <h4 style="color: black; margin-top: 12px" th:text="${homework.student}"></h4>
                            </div>

                            <div class="col-2">
                                <form th:action="@{'/courses/' + ${course.id} + '/homework/' + ${homework.homework}}"
                                      th:method="get">
                                    <button class="newsletter_submit_btn trans_300" type="submit">Download homework
                                    </button>
                                </form>
                            </div>
                            <div class="col-4">
                                <form th:action="@{'/teachers/homework/evaluate'}" method="post"
                                      th:object="${newHomework}">
                                    <div class="row" style="margin-left: 10px">
                                        <div class="col-4">
                                            <select hidden="hidden" name="id" type="button"
                                                    th:field="*{id}" id="dsa"
                                                    aria-label="Example select with button addon">
                                                <option selected th:value="${homework.id}">teacher</option>
                                            </select>
                                            <select hidden="hidden" name="creator" type="button"
                                                    th:field="*{homework}" id="gf"
                                                    aria-label="Example select with button addon">
                                                <option selected th:value="${homework.homework}">teacher</option>
                                            </select>
                                            <input style="border: 2px #ffb606 solid"
                                                   class="input_field search_form_category" type="number"
                                                   th:field="*{grade}" min="1" max="100">
                                        </div>
                                        <div class="col-8">
                                            <button class="newsletter_submit_btn trans_300" type="submit">Grade</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>
        </div>
    </div>

    <!-- Created courses   -->

    <div th:if="${createdCourses.size() != 0}" sec:authorize="hasRole('ROLE_TEACHER')" class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Created Courses</h1>
                    </div>
                </div>
            </div>
            <div class="row course_boxes">
                <div th:each="course : ${createdCourses}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.picture}}"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:if="${course.isFinished() == true}"
                                   th:href="@{'/courses/' + ${course.id} + '/lectures'}" th:text="${course.title}"></a>
                                <a th:if="${course.isFinished() == false}"
                                   th:href="@{'/courses/' + ${course.id} + '/unfinished'}"
                                   th:text="${course.title}"></a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${course.description}">Description</h3>
                            </div>
                        </div>
                        <div th:if="${course.isFinished() == true}"
                             class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                            </div>
                            <div class="course_author_name"><h4>Finished</h4>
                            </div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"
                                 style="background-color: darkseagreen">
                            </div>
                        </div>
                        <div th:if="${course.isFinished() == false}"
                             class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                            </div>
                            <div class="course_author_name"><h4>Unfinished</h4>
                            </div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"
                                 style="background-color: indianred">
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!-- Enrolled courses   -->

    <div th:if="${enrolledCourses.size() != 0}" class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Enrolled Courses</h1>
                    </div>
                </div>
            </div>
            <div class="row course_boxes">
                <div th:each="course : ${enrolledCourses}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.picture}}"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:href="@{'/courses/' + ${course.id} + '/lectures'}" th:text="${course.title}">
                                </a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${course.description}">Description</h3>
                            </div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img style="height: 60px ; width: auto"
                                     th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.creatorUsername}}"
                                     alt="  O ">
                            </div>
                            <div class="course_author_name" th:text="${course.creator} + ', Author'"><span></span>
                            </div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center">
                                <img src="/images/star.png" style="height: 25px; z-index: 0" alt="star">
                                <span th:text="${course.rating}"></span></div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!-- Completed courses   -->

    <div th:if="${completedCourses.size() != 0}" class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Completed Courses</h1>
                    </div>
                </div>
            </div>
            <div class="row course_boxes">
                <div th:each="course : ${completedCourses}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.picture}}"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:href="@{'/courses/' + ${course.id} + '/lectures'}" th:text="${course.title}">
                                </a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${course.description}">Description</h3>
                            </div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.creatorUsername}}"
                                     alt="  O ">
                            </div>
                            <div class="course_author_name" th:text="${course.creator} + ', '"><span>Author</span>
                            </div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center">
                                <img src="/images/star.png" style="height: 25px; z-index: 0" alt="star">
                                <span th:text="${course.rating}"></span></div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>

</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>