<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>
    <!-- Home -->

    <div class="row" style="height: 200px; z-index: -1">
        <img style="height: 1000px" src="/images/slider_background.jpg" alt="photo">
    </div>

    <!-- Elements -->

    <div class="register" style="margin-bottom: 30px">

        <div class="container-fluid">

            <div class="row row-eq-height">
                <div class="col-lg-3 nopadding">
                </div>

                <div class="col-lg-6 nopadding">

                    <div class="search_section d-flex flex-column align-items-center justify-content-center">
                        <div class="search_background"
                             style="background-image:url(/images/search_background.jpg);"></div>
                        <div class="search_content text-center">
                            <h1 style="margin-top: 20px" class="search_title">Register</h1>
                            <form id="form" name="form" class="search_form" th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data">
                                <p>
                                    <i th:if="${error != null}" th:text="${error}" style="color: red"/>
                                </p>
                                <input required class="input_field search_form_name" type="text" id="username" name="username"
                                       th:field="*{username}" placeholder="Username"/>
                                <input required  th:field="*{password}" class="input_field search_form_name"
                                       type="password" id="password" name="password" placeholder="Password"/>
                                <script>
                                    $(document).ready(function(){
                                        var $submitBtn = $("#form button[type='submit']");
                                        var $passwordBox = $("#password");
                                        var $confirmBox = $("#confirm_password");
                                        var $errorMsg =  $('<span style="color: red" id="error_msg">Passwords do not match.</span>');

                                        // This is incase the user hits refresh - some browsers will maintain the disabled state of the button.
                                        $submitBtn.removeAttr("disabled");

                                        function checkMatchingPasswords(){
                                            if($confirmBox.val() != "" && $passwordBox.val != ""){
                                                if( $confirmBox.val() != $passwordBox.val() ){
                                                    $submitBtn.attr("disabled", "disabled");
                                                    $errorMsg.insertBefore($confirmBox);
                                                }
                                            }
                                        }

                                        function resetPasswordError(){
                                            $submitBtn.removeAttr("disabled");
                                            var $errorCont = $("#error_msg");
                                            if($errorCont.length > 0){
                                                $errorCont.remove();
                                            }
                                        }


                                        $("#confirm_password, #password")
                                            .on("keydown", function(e){
                                                /* only check when the tab or enter keys are pressed
                                                 * to prevent the method from being called needlessly  */
                                                if(e.keyCode == 13 || e.keyCode == 9) {
                                                    checkMatchingPasswords();
                                                }
                                            })
                                            .on("blur", function(){
                                                // also check when the element looses focus (clicks somewhere else)
                                                checkMatchingPasswords();
                                            })
                                            .on("focus", function(){
                                                // reset the error message when they go to make a change
                                                resetPasswordError();
                                            })

                                    });
                                </script>

                                <input required   class="input_field search_form_name"
                                       type="password" id="confirm_password" name="confirm_password" placeholder="Repeat password"/>

                                <input required  th:field="*{email}" class="input_field search_form_name"
                                       type="email" id="email" name="email" placeholder="Email"/>
                                <input required  th:field="*{firstName}" class="input_field search_form_name"
                                     type="text" id="firstName" name="firstName" placeholder="First name"/>
                                <input required  th:field="*{lastName}" class="input_field search_form_name"
                                       type="text" id="lastName" name="lastName" placeholder="Last name"/>
                                <label style="color: black" for="file">Upload profile picture</label>
                                <input class="search_submit_button trans_200" id="file" name="file"
                                       th:field="*{file}" type="file" accept="image/*" value="Upload image"/>
                                <select th:if="${student == true}" hidden="hidden" class="custom-select" name="creator" type="button"
                                        th:field="*{role}" id="student" aria-label="Example select with button addon">
                                    <option selected th:value="STUDENT">student</option>
                                </select>
                                <select th:if="${teacher == true}" hidden="hidden" class="custom-select" name="creator" type="button"
                                        th:field="*{role}" id="teacher" aria-label="Example select with button addon">
                                    <option selected th:value="TEACHER">teacher</option>
                                </select>
                                <button style="margin-bottom: 20px" id="submit" name="submit" type="submit" class="search_submit_button trans_200"
                                        value="Submit">register
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 nopadding">
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->

    <footer th:replace="fragments :: footer" ></footer>

</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>