<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->
    <header th:replace="fragments :: navigation"></header>

    <!-- Menu -->
    <div class="menu_container menu_mm">

        <!-- Menu Close Button -->
        <div class="menu_close_container">
            <div class="menu_close"></div>
        </div>

        <!-- Menu Items -->
        <div class="menu_inner menu_mm">
            <div class="menu menu_mm">
                <ul class="menu_list menu_mm">
                    <li class="menu_item menu_mm"><a href="index.html">Home</a></li>
                    <li class="menu_item menu_mm"><a href="#">About us</a></li>
                    <li class="menu_item menu_mm"><a href="courses.html">Courses</a></li>
                    <li class="menu_item menu_mm"><a href="#">Elements</a></li>
                    <li class="menu_item menu_mm"><a href="news.html">News</a></li>
                    <li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
                </ul>

                <!-- Menu Social -->

                <div class="menu_social_container menu_mm">
                    <ul class="menu_social menu_mm">
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>

                <div class="menu_copyright menu_mm">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
            </div>

        </div>

    </div>

    <!-- Home -->

    <div class="home" style="height: 420px">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(/images/teachers-background.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Teachers</h1>
        </div>
    </div>


    <div class="teachers page_section">
        <div class="container">
            <div class="row" >

                <!-- Teacher -->

                <div class="col-lg-4 teacher" th:each="teacher : ${teachers}">
                    <div class="card">
                        <div class="card_img">
                            <img class="card-img-top trans_200" th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${teacher.username}} "
                                 alt="  O ">
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title"><a th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Milestones -->

    <div class="milestones">
        <div class="milestones_background" style="background-image:url(images/green-2551467_1280.jpg)"></div>

        <div class="container">
            <div class="row">

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="images/milestone_1.svg"
                                                         alt="https://www.flaticon.com/authors/zlatko-najdenovski">
                        </div>
                        <div class="milestone_counter" th:data-end-value="${studentsSize}">0</div>
                        <div class="milestone_text">Current Students</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="images/milestone_2.svg"
                                                         alt="https://www.flaticon.com/authors/zlatko-najdenovski">
                        </div>
                        <div class="milestone_counter" th:data-end-value="${teachersSize}">0</div>
                        <div class="milestone_text">Certified Teachers</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="images/milestone_3.svg"
                                                         alt="https://www.flaticon.com/authors/zlatko-najdenovski">
                        </div>
                        <div class="milestone_counter" th:data-end-value="${coursesSize}">0</div>
                        <div class="milestone_text">Approved Courses</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="images/milestone_4.svg"
                                                         alt="https://www.flaticon.com/authors/zlatko-najdenovski">
                        </div>
                        <div class="milestone_counter" data-end-value="150" data-sign-before="+">0</div>
                        <div class="milestone_text">Graduate Students</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Become -->
    <div class="become">
        <div class="container">
            <div class="row row-eq-height">

                <div style="margin-top: 70px" class="col-lg-6 order-2 order-lg-1">
                    <div class="become_title">
                        <h1>Become a teacher</h1>
                    </div>
                    <p class="become_text">Many teachers call their work a labor of love.
                        Those who choose to enter the teaching profession are looking forward to a
                        long career of educating students and possibly moving up into administrative positions,
                        where they can have a sizable impact on curriculum development and school system planning.
                        Once the degree is in hand and a teacher has earned licensure or certification,
                        what can she or he expect from the career? This guide focuses on possible career and degree paths,
                        expected salaries, job outlook in the profession and much more.</p>
                    <div class="become_button text-center trans_200">
                        <a href="/register-teacher">Become a teacher</a>
                    </div>
                </div>

                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="become_image">
                        <img src="images/teacher_5.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>


</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>