<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>

    <!-- Home -->

    <div class="home" style="height: 420px">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(/images/topics-background.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Topics</h1>
        </div>
    </div>

    <!-- Topics -->

    <div class="popular page_section" th:each="topic : ${topics}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1 th:text="${topic.getTopic()}"><a th:href="@{'/courses/filter/topic?name=' + ${topic.topic}}" ></a></h1>
                    </div>
                </div>
            </div>

            <div class="row course_boxes">
                <div th:each="course : ${topic.courses}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.picture}}"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:href="@{'/courses/' + ${course.id} + '/lectures'}" th:text="${course.title}">
                                </a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${course.description}">Description</h3>
                            </div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.creatorUsername}}">
                            </div>
                            <div class="course_author_name" th:text="${course.creator} + ', '"><span>Author</span>
                            </div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center">
                                <img src="/images/star.png" style="height: 25px; z-index: 0" alt="star">
                                <span th:text="${course.rating}"></span></div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!--    <div class="row">-->
    <!--        <div class="col-5"></div>-->
    <!--        <div class="col-2">-->
    <!--            <nav aria-label="Page navigation example">-->
    <!--                <ul class="pagination justify-content-center">-->
    <!--                    <div class="d-inline-flex p-2 bd-highlight">-->
    <!--                        <div th:if="${currentPage > 1}">-->
    <!--                            <li class="page-item">-->
    <!--                                <a class="page-link"-->
    <!--                                   th:href="@{'/courses?page='+ ${currentPage - 1} + '&sort=' + ${sort}}" tabindex="-1"-->
    <!--                                   aria-disabled="true">Previous</a>-->
    <!--                            </li>-->
    <!--                        </div>-->
    <!--                        <div th:each="page: ${pages}">-->
    <!--                            <li class="page-item"><a class="page-link" th:href="@{'/courses?page='+ ${page}}"-->
    <!--                                                     th:text="${page}">1</a>-->
    <!--                            </li>-->
    <!--                        </div>-->
    <!--                        <div th:if="${currentPage < pages.size()}">-->
    <!--                            <div th:if="${currentPage > 1}">-->
    <!--                                <li class="page-item">-->
    <!--                                    <a class="page-link" th:href="@{'/courses?page='+ ${currentPage + 1} + '&sort=' + ${sort}}">Next</a>-->
    <!--                                </li>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </ul>-->
    <!--            </nav>-->
    <!--        </div>-->
    <!--        <div class="col-5"></div>-->
    <!--    </div>-->
    <!--     Footer -->

    <footer th:replace="fragments :: footer"></footer>


</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>