<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments ::head">
    <title></title>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header th:replace="fragments :: navigation"></header>

    <!-- Home -->

    <div class="home" style="height: 380px">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(/images/courses_background.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Course</h1>
        </div>
    </div>
    <!--  Course  -->

    <div class="row">
        <div class="col-lg-4">
            <div class="course_author_image" style="width: 300px; height: 300px; margin-left: 75px">
                <img style="width: 400px; height: auto"
                     th:src="@{'https://craftcap-alek-mario.s3.us-east-2.amazonaws.com/' + ${course.picture}}" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="sidebar_section">
                <div class="row">
                    <div class="col-3">
                        <ul class="sidebar_list">
                            <li class="sidebar_list_item"><a th:text="Title"></a></li>
                            <li class="sidebar_list_item"><a th:text="Description"></a>
                            </li>
                            <li class="sidebar_list_item"><a th:text="Rating"></a></li>
                            <li class="sidebar_list_item"><a th:text="Creator"></a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="sidebar_list" style="color: black">
                            <li class="sidebar_list_item"><a th:text="${course.title}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${course.description}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${course.rating}"></a></li>
                            <li class="sidebar_list_item"><a th:text="${course.creator}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col">
                    <form th:method="get" th:action="@{'/courses/' + ${course.id} + '/new-lecture'}" >
                        <button id="news" type="submit" class="newsletter_submit_btn trans_300"
                                value="Submit">Add lecture
                        </button>
                    </form>
                </div>
                <div class="col" th:if="${lectures.size() != 0}">
                    <form  th:method="post"
                          th:action="@{'/courses/' + ${course.id} + '/submit'}">
                        <button class="newsletter_submit_btn trans_300" type="submit" id="delete" value="Submit">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- lectures   -->

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row course_boxes">
                <div th:each="lecture : ${lectures}" class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top"
                             src="/images/course_1.jpg"
                             alt="/images/course_1.jpg"/>
                        <div class="card-body text-center">
                            <div class="card-title">
                                <a th:href="@{'/courses/' + ${course.id} + '/lectures/' + ${lecture.id}}" th:text="${lecture.title}"></a>
                            </div>
                            <div class="card-text">
                                <h3 th:text="${lecture.description}">Description</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <!-- Footer -->

    <footer th:replace="fragments :: footer"></footer>


</div>
<div th:replace="fragments :: assets"></div>

</body>
</html>